<div class="template-knowledge-manage" style="height: 100%;">
  <div class="template-top-nav">
    <div class="page-nav float_left">教学管理 》 知识点管理</div>
    <div class="import-btn float_right">导入</div>
    <div class="clear"></div>
  </div>
  <div class="qunit-filter">
    <div class="screen-list">
      <div class="screen-name float_left">学段 ></div>
      <div class="screen-item-wrap float_left">
        <div class="screen-item study-period check" data-period="1">小学</div>
        <div class="screen-item study-period" data-period="2">初中</div>
        <div class="screen-item study-period" data-period="3">高中</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="screen-list">
      <div class="screen-name float_left">学科 ></div>
      <div class="screen-item-wrap float_left screen-object1">
        <div class="screen-item screen-object check" data-object="1">语文</div>
        <div class="screen-item screen-object" data-object="2">数学</div>
        <div class="screen-item screen-object" data-object="3">英语</div>
      </div>
      <div class="screen-item-wrap float_left screen-object2 hide">
        <div class="screen-item screen-object check" data-object="1">语文</div>
        <div class="screen-item screen-object" data-object="2">数学</div>
        <div class="screen-item screen-object" data-object="3">英语</div>
        <div class="screen-item screen-object">化学</div>
        <div class="screen-item screen-object">物理</div>
        <div class="screen-item screen-object">历史</div>
        <div class="screen-item screen-object">政治</div>
      </div>
      <div class="screen-item-wrap float_left screen-object3 hide">
        <div class="screen-item screen-object check">语文</div>
        <div class="screen-item screen-object">数学</div>
        <div class="screen-item screen-object">英语</div>
        <div class="screen-item screen-object">理综</div>
        <div class="screen-item screen-object">文综</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="qunit-main" style="height: calc(100% - 157px);">
    <div class="catalog-tree-wrap float_left">
      <div class="catalog-tree-title">知识点目录</div>
      <div class="zTreeDemoBackground left">
        <ul id="treeDemo" class="ztree"></ul>
      </div>

    </div>
    <div class="knowledge-manage-region float_right">
      <div class="knowledge-manage-region-main">
        <div class="menu-list-wrap menu-parent-name">
          <div class="menu-title float_left">父级</div>
          <div class="menu-parent-name-input float_left"><input type="text" /></div>
          <div class="empty-parent-btn float_left">清空父级</div>
          <div class="clear"></div>
        </div>
        <div class="explain-content-wrap">
          <div class="explain-content-void float_left"></div>
          <div class="explain-content">说明：清空父级后，该菜单作为顶级菜单</div>
          <div class="clear"></div>
        </div>
        <div class="menu-list-wrap menu-name">
          <div class="menu-title float_left">名称</div>
          <div class="menu-name-input float_left"><input type="text" /></div>
          <div class="clear"></div>
        </div>
        <div class="menu-list-wrap menu-order">
          <div class="menu-title float_left">排序</div>
          <div class="menu-name-input float_left"><input type="text" /></div>
          <div class="clear"></div>
        </div>
        <div class="menu-list-wrap menu-canuse">
          <div class="menu-title float_left">是否可用</div>
          <div class="menu-name-input float_left"><input type="text" /></div>
          <div class="clear"></div>
        </div>
        <div class="menu-list-wrap menu-remark">
          <div class="menu-title float_left">备注</div>
          <div class="menu-name-input float_left"><input type="text" /></div>
          <div class="clear"></div>
        </div>
        <div class="explain-content-wrap">
          <div class="explain-content-void float_left"></div>
          <div class="menu-submit-btn">提交</div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>